@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    label {
        @apply block uppercase tracking-wide text-center font-semibold text-white my-1;
    }
    
    select {
        @apply w-full rounded-b-lg py-2;
    }
    
    h1 {
        @apply text-6xl text-gray-900 font-semibold;
    }
    
    h2 {
        @apply text-3xl text-gray-900 font-semibold;
    }
    
    h3 {
        @apply text-xl text-gray-700 font-semibold;
    }
}

@layer utilities {
    .menu {
        @apply z-30 fixed w-screen max-h-screen inset-y-0 translate-y-full flex flex-col md:flex-row justify-end md:translate-y-0 md:max-w-[500px] md:right-0 md:translate-x-full;
        transition: all 0.5s ease-in-out;
    }
    
    .menu-open {
        @apply transform-none;
    }
    
    .field-container {
        @apply bg-emerald-700 border border-emerald-700 rounded-lg;
    }
    
    /* .criteria-container {
        @apply flex space-y-2;
    } */
    
    /* .criteria-label {
        @apply flex items-center shrink-0 w-28 font-semibold;
    } */
    
    .selected-box {
        @apply flex items-center bg-white rounded-lg p-1;
    }
    
    .selected-option {
        @apply font-semibold text-green-900 ml-2;
    }
    
    .remove-icon {
        @apply h-4 w-4;
    }
    
    .results-container {
        @apply grow bg-white py-8 md:px-8;
    }
    
    .thumbnail {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
    .rarity-icon {
        @apply inline h-5 w-5;
    }
}